
//SUBTITULO

.subtitulo{
    width: 70%;
    font-size: 30px;
    margin-bottom: 40px;
    margin-left: 20%;
    border-bottom: 1px solid #ACAC9D;
    border-left: red solid 4px;
}

.h3{
    margin: 30px;
    margin-top: 50px;
    padding: 30px;
}